/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/out-folder
/public/out-folder
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/out-folder
.env
nbproject/*
/dataworkers
.dbdata/
.es-data/
.composer/
.data
